<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aanmelden</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Design.css">
</head>
<body>
<nav>
<ul class="ul_header">
  <li>
      <img class="Temp_icon"  src="../static/images/Temp%20logo.png"/>
  </li>
    <li class="login">
      <a href="/aanmelden">
          <i class="material-icons">account_circle</i></a>
  </li>
    <div class="header_text">
  <li>
      <a href="/weer_nu">Het weer nu</a>
  </li>
  <li>
      <a href="/luchtvochtigheid">Luchtvochtigheid</a>
  </li>
  <li>
      <a href="/neerslag">Neerslag</a>
  </li>
  <li>
      <a href="#Per maand">Per maand</a>
  </li>
    </div>
  <li class="login">
      <a href="/aanmelden">Aanmelden</a>
  </li>
</ul>
</nav>
<img class="Foto_welcome" src="../static/images/Temp%20logo.png" alt="Temp logo"/><br>
<fieldset>
    <legend>Aanmelden</legend>
    <table>
    <tr>
        <td>Login: </td>
        <td><input class="Textbox" type="text" name="Login"></td>
    </tr>
    <tr>
        <td>Paswoord:</td>
        <td><input class="Textbox" type="password" name="Paswoord"></td>
    </tr>
    <tr>
        <td><input class="LoginKnop"type="button" value="Aanmelden"></td>
    </tr><br>
    </table>
    <p class="p_maakAccountAan">Nog geen account? <i><a href="/registreren" id="klikhier">Klik hier.</a></i></p>
</fieldset>

</body>
</html>