<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registreren</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Design.css">

</head>
<body>
<nav>
<ul class="ul_header">
  <li>
      <img class="Temp_icon"  src="../static/images/Temp%20logo.png"/>
  </li>
    <li class="login">
      <a href="/aanmelden">
          <i class="material-icons">account_circle</i></a>
  </li>
    <div class="header_text">
  <li>
      <a href="/weer_nu">Het weer nu</a>
  </li>
  <li>
      <a href="/luchtvochtigheid">Luchtvochtigheid</a>
  </li>
  <li>
      <a href="/neerslag">Neerslag</a>
  </li>
  <li>
      <a href="#Per maand">Per maand</a>
  </li>
    </div>



  <li class="login">
      <a href="/aanmelden">Aanmelden</a>
  </li>
</ul>
</nav>
<img class="Foto_welcome" src="../static/images/Temp%20logo.png" alt="Temp logo"/><br>
<fieldset>
    <legend>Registreren</legend>
    <table class="table_login">
    <tr class="tr_centreren">
        <td>Naam: </td>
        <td><input class="Textbox" type="text" name="Login"></td>
        <td>Voornaam: </td>
        <td><input class="Textbox" type="text" name="Login"></td>
    </tr>
    <tr class="tr_centreren">

    </tr>
    <tr class="tr_centreren">
        <td>Login: </td>
        <td><input class="Textbox" type="text" name="Login"></td>
    </tr>
    <tr class="tr_centreren">
        <td>Paswoord:</td>
        <td><input class="Textbox" type="password" name="Paswoord"></td>
    </tr>
    <tr>
        <td>E-mail: </td>
        <td><input class="Textbox_email" type="text" name="Login"></td>
    </tr>
    <tr>
    </tr>
    <tr class="tr_centreren">
        <td><input class="RegistreerKnop"type="button" value="Registreren"></td>
    </tr><br>
    </table>
    <p class="p_maakAccountAan">Heb je al een account? <i><a href="/aanmelden" id="klikhier">Klik hier.</a></i></p>
</fieldset>

</body>
</html>