<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Design.css">
</head>
<body>
<nav>
<ul class="ul_header">
  <li>
      <img class="Temp_icon"  src="../static/images/Temp%20logo.png"/>
  </li>
    <li class="login">
      <a href="/aanmelden">
          <i class="material-icons">account_circle</i></a>
  </li>
    <div class="header_text">
  <li>
      <a href="/weer_nu">Het weer nu</a>
  </li>
  <li>
      <a href="/luchtvochtigheid">Luchtvochtigheid</a>
  </li>
  <li>
      <a href="/neerslag">Neerslag</a>
  </li>
  <li>
      <a href="#Per maand">Per maand</a>
  </li>
    </div>
  <li class="login">
      <a href="/aanmelden">Aanmelden</a>
  </li>
</ul>
</nav>

<img class="Foto_welcome" src="../static/images/Temp%20logo.png" alt="Temp logo"/>
<h2>Welkom op de site Temp!!!</h2>
<p>Gelieve je aan te melden rechtsboven om je gegevens te bekijken.</p>





</body>
</html>