<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weer nu</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/Design.css">
</head>
<body>
<nav>
<ul class="ul_header">
  <li>
      <img class="Temp_icon"  src="../static/images/Temp%20logo.png"/>
  </li>
    <li class="login">
      <a href="/aanmelden">
          <i class="material-icons">account_circle</i></a>
  </li>
    <div class="header_text">
  <li>
      <a href="/weer_nu">Het weer nu</a>
  </li>
  <li>
      <a href="/luchtvochtigheid">Luchtvochtigheid</a>
  </li>
  <li>
      <a href="/neerslag">Neerslag</a>
  </li>
  <li>
      <a href="#Per maand">Per maand</a>
  </li>
    </div>
  <li class="login">
      <a href="/aanmelden">Aanmelden</a>
  </li>
</ul>
</nav>

<p class="p_regen">0 = droog</p>
<p class="p_regen">1 = lichte regen</p>
<p class="p_regen">2 = Hevige regen</p>

<table class="neerslag">
  <tr>
    <th>Temperatuur (°C)</th>
    <th>Luchtvochtigheid (%)</th>
  </tr>
  <tr>
    <td>{{mytemp}}°C</td>
    <td>{{myluchtvocht}}%</td>
  </tr>
  <tr>
    <th>Neerslag</th>
  </tr>
  <tr>
  <td>{{myneerslag}}</td>
  </tr>
</table>
<!--<table class="neerslag">-->
  <!--<tr>-->
    <!--<th>Temperatuur per uur</th>-->
    <!--<th>Temperatuur (°C)</th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>1</td>-->
    <!--<td>{{myvalue}}</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>2</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>3</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>4</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>5</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>6</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>7</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>8</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>9</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>10</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>11</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>12</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>13</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>14</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>15</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>16</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>17</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>18</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>19</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>20</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>21</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>22</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>23</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>24</td>-->
    <!--<td>$80</td>-->
  <!--</tr>-->
<!--</table>-->
</body>
</html>